body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

.nav-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
}

.nav-bottom {
    border-top: 1px solid #b3b3b3;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.btn-primary {
    background-color: #009D49;
    border: 0;
    font-size: 12px;
}


.btn-primary:hover {
    background-color:#b3b3b3;
    border-color: #b3b3b3;
    color: white;
}

/* .btn-primary:active {
    background-color:#b3b3b3 !important;
    border-color: #b3b3b3 !important;
    color: white !important;
} */

.form-control {
    border-radius: 8px;
    height: 42px;
}

.btn-circle-1 {
    width: 42px;
    height: 42px;
    padding: 0;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-circle-2 {
    width: 42px;
    height: 42px;
    padding: 0;
    border-radius: 8px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-outline-secondary {
    border:1px solid #009D49;
    color: #009D49;
}

.btn-outline-secondary:hover {
    background-color:#009D49;
    border-color: #009D49;
    color: white;
}

.btn-3 {
    width: 42px;
    height: 42px;
}

.btn-plus {
    box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.3);
}

.search-bar {
    text-decoration: none;
    display: inline-flex;
}

.nav-item {
    padding: 8px 20px;
}

.nav-item a {
    color: #505050;
}

.nav-item p {
    font-size: 12px;
    padding-top: 2px;
}

.active {
    color: white;
}

a.bottom-nav.active {
    background-color: #009D49 !important;
}

.nav-link:hover {
    color: #009D49;
}

.nav-pills .nav-item p {
    text-align: center;
    margin-bottom: 0;
}

.map-image {
    background-image: url('../image/TripMap\ -2.png');
    width: 100%;
    height: 80vh;
    background-size: 100%;
    position: relative;
}

.nav-underline .nav-link.active {
    border-bottom-color:  #009D49;
}

.attraction-card-img {
    width: 200px;
    height: 120px;
    background-size: cover;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

h5 {
    font-size: 14px;
    font-weight:bold;
}

.attraction-card-text {
    font-size: 12px;
    height: 50px; 
    width:180px;
    overflow: hidden; 
}

.rating-dot-1 {
    background-color: #009D49;
    width: 12px;
    height: 12px;
    border: solid 2px #009D49;
    border-radius: 50%;
}

.rating-dot-2 {
    width: 12px;
    height: 12px;
    border: solid 2px #009D49;
    border-radius: 50%;
}

.attraction-card {
    flex: 0 0 auto; 
    width: 320px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.attraction-card-container {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    gap: 10px;
}

.attraction-card-container::-webkit-scrollbar {
    display: none;
}

.attraction-card-link {
    text-decoration: none;
    color:inherit ;
}

.list-btn {
    width: 240px;
    height: 40px;
    color: #b3b3b3;
    border-radius: 24px;
    position:absolute;
    bottom:72px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.tour-card-container {
    margin-bottom: 60px;
}

.tour-card {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.tour-btn {
    width: 150px;
}

.tour-card-img {
    height: 140px;
    background-size: cover;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.tour-card-text {
    font-size: 12px;
    height: 50px; 
    overflow: hidden; 
}

.location-mark img{
    width: 48px;
}

.location-number {
    color: white;
    width: 40px;
    height: 40px;
    background-color: #009D49;
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.location-number p {
    font-size: 18px;
    text-align: center;
    font-style:normal;
    font-weight: 600;
}

.trip-card {
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}


.trip-card-header {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
    height:36px;
}

.trip-card-header h5 {
    margin-top: 10px;
}

.trip-card-container a{
    text-decoration: none;
    color:inherit ;
}

.trip-card-btn {
    width: 36px;
}

.attraction-in-trip {
    width: 72px;
    height: 72px;
    background-size: cover;
    border-radius: 6px;
    flex-shrink: 0;
}

.trip-card-body {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    gap: 10px; 
}

.btn-back {
    width: 42px;
    height: 42px;
    padding: 0;
    border-radius: 8px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.attraction-detail-image {
    width:100%;
    height: 48vh;
    background-size: cover;
}

.attraction-detail-container {
    margin-bottom: 100px;
}

.btn-addtolist {
    width: 160px;
    height: 40px;
    border-radius: 24px;
    padding-top: 12px;
}

.attraction-description h5 {
    margin-top: 30px;
}

.attraction-description p {
    font-size: 14px;
}

.ticket-btn {
    height: 24px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}


